/* For mobile screens */
@media (max-width: 600px) {
    .main-section {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .content {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    

    .content h1 {
        font-size: 36px;
        width: auto;
        height: auto;
    }

    .content p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 18px;
        padding: 10px 30px;
    }

    .profile-image img {
        max-width: 70%;
        max-height: 70%;
    }
}

/* For tablet screens */
@media (min-width: 601px) and (max-width: 1024px) {
    .content {
        padding: 0 15px 0 30px;
    }

    .content h1 {
        font-size: 42px;
        width: auto;
        height: auto;
    }

    .content p {
        font-size: 1.15rem;
    }

    .cta-button {
        font-size: 18px;
        padding: 10px 30px;
    }

    .profile-image img {
        max-width: 80%;
        max-height: 80%;
    }
}


body {
    margin: 0;
    padding: 20px;
    background-color: #000;
}
html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #000;
    position: relative;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.logo {
    color: #fff;
    font-size: 34px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 25px;
    padding-right: 50px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #aaa;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 60px);  /* Adjusting for navbar height */
    color: #F9F5FF;
    background-color: black;
}

.content {
    flex: 1;
    padding: 0 20px 0 50px; /* Left padding set to 50px */
}

.name {
    color: #FAFBFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 500;
    width: 555px;
    height: 58px;
    flex-shrink: 0;
    color: #F9F5FF;
}

.content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #F9F5FF;
    color: #0A0119;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #ddd;
    color: #0A0119;
}


.profile-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.know-me-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F5FF;
    padding: 80px;
    padding-top: 110px;
}

.know-me-section h2 {
    color: #FAFBFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px; /* Added some space between the heading and the content */
}

.know-me-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.know-me-image img {
    width: 348px;
    height: 429.133px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: 20px;
}

.know-me-description {
    width: 608px;
    color: #FAFBFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn.contact-btn {
    margin-top: 20px;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #F6F6FE;
    background: #F9F5FF;
    color: #0A0119;
}



.projects-section {
    margin: 50px 0;
    text-align: center;
    color: white;
    padding: 40px;
    padding-top: 60px;
}

.projects-section h2 {
    padding: 30px;
}

.projects-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.slider {
    position: relative;
    overflow: hidden; /* Hide the projects that are out of view */
}

.projects-grid {
    display: flex;
    transition: transform 0.4s; /* Smooth transition for sliding effect */
    width: calc(397px * 3); /* Adjust width for 3 projects */
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

.project-card {
    width: 397px;
    height: 419px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    border-radius: 20px;
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
}

.project-card::before { /* Pseudo-element to overlay the darkening effect */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Initially fully transparent */
    transition: background-color 0.3s;
    z-index: 0; /* Below the buttons */
}

.project-card:hover::before {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay on hover */
}

.project-actions {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column; /* Stack the buttons vertically */
    z-index: 1; /* Ensure buttons are above the dark overlay */
}

.project-card:hover .project-actions {
    display: flex; /* Display as flex to use flex properties */
    top: 50%; /* Center vertically */
    transform: translateX(-50%) translateY(-50%); /* Center horizontally and vertically */
}

.btn {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #F6F6FE;
    background: #F9F5FF;
    color: #000;
    text-decoration: none;
    margin: 5px;
}


.contact-section {
    background: #0A0119;
    padding: 50px 0;
    text-align: center;
    color: white;
    font-family: Inter;
}

.contact-section h2 {
    color: #F9F5FF;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 28px; /* 77.778% */
}
.contact-section p {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
}


.contact-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact-icon svg {
    fill: #F9F5FF;
}

.contact-email {
    color: #F9F5FF;
    text-decoration: none;
    transition: color 0.3s;
    color: #FAFBFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 58.333% */

}

.contact-email:hover {
    color: #F6F6FE;
}









.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    padding-top: 60px;
    background-color: #000;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.social-icons {
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;
    padding-right: 30px;
}

.icon {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 80px;
}

.icon svg {
    fill: #FAFBFF; /* This ensures the SVG icons inherit the specified color */
}

.icon:hover {
    color: #aaa;
}

.icon:hover svg {
    fill: #aaa;
}

